a.a-link {
    text-decoration: none;
}

thead tr th {
    background-color: #f9f2f4;
    text-transform: capitalize;
    font-size: medium;
}

.page-header {
    color: #DB7100;
}

div.errors-info {
    color: #F00;
    font-size: 8px;
}
