a.a-link {
    text-decoration: none;
}

thead tr th {
    background-color: #f9f2f4;
    text-transform: capitalize;
    font-size: medium;
}

.page-header {
    color: #DB7100;
}

div.errors-info {
    color: #A94442;
    font-size: 14px;
}

div.tips-info {
    color: #428BCA;
    font-size: 14px;
    font-family: "WenQuanYi Micro Hei";
}

.xls-btn {
    background: url('../excel.jpg') no-repeat center;
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

span.rows-num-select {
    width: 22px;
    height: 22px;
    font-size: medium;
    padding-left: 70%;
    display: inline;
}

