{% extends 'base.html' %}

{% block title %}
Search for Douban
{% endblock %}

{% block sub-header-title %}
<em><small>
    result({{ movies.start_index}}-{{movies.end_index}} of {{total }})
</small></em>
{% endblock %}

{% block sub-header %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Rate</th>
      <th>Director</th>
      <th>Region</th>
      <th>Language</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
    <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{{ movie.url }}" target="_blank">{{ movie.title }}</a></td>
          <td>{{ movie.rate }}</td>
          <td>{{ movie.director }}</td>
          <td>{{ movie.region }}</td>
          <td>{{ movie.language }}</td>
          <td>{{ movie.release_time }}</td>
          <td>{{ movie.run_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="label label-default">
        {% if movies.has_previous %}
            <a href="?title={{ title }}&page={{ movies.previous_page_number }}" class="glyphicon glyphicon-triangle-left"></a>
        {% endif %}

        <span class="current">
            {{ movies.number }} of {{ movies.paginator.num_pages }}
        </span>

        {% if movies.has_next %}
            <a href="?keywords={{ keywords }}&page={{ movies.next_page_number }}" class="glyphicon glyphicon-triangle-right" ></a>
        {% endif %}
    </span>
</div>
{% endblock %}