{% extends 'base.html' %}

{% block title %}
    Profiles for Douban
{% endblock %}
{% block nav-link %}
    <ul class="nav nav-sidebar">
        <li><a href="{% url "dashboard" %}#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="{% url "views_page" %}">Views</a></li>
        <li><a href="{% url "reports_page" %}">Reports</a></li>
        <li><a href="{% url "analytics_page" %}">Analytics</a></li>
        <li><a href="{% url "export_page" %}">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a class="user-settings" href="{% url "settings_page" %}">Profiles</a></li>
    </ul>
{% endblock %}
{% block page-header-title %}Your profile {% endblock %}

{% block page-header %}
    {% if status == '0' %}
        <ul class="messagelist">
            <li class="success" style="font-size: large">Changed successfully.</li>
        </ul>
    {% endif %}
    <form class="form-horizontal" action="{% url 'settings_page' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input id="inputName" type="text" class="form-control" name="username" value="{{ user.username }}"
                       readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="inputEmail" type="email" class="form-control" name="email" value="{{ user.email }}"
                       required="required" autocomplete="false"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputRealName" class="col-sm-2 control-label">Real name</label>
            <div class="col-sm-4">
                <input id="inputRealName" type="text" class="form-control" name="real_name" value="{{ user.real_name }}"
                       autocomplete="false"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Sex</label>
            <div class="col-sm-2">
                <select class="form-control" name="sex">
                    <option value="male">Male</option>
                    {% if user.sex == "female" %}
                        <option selected="selected" value="female">Female</option>
                    {% else %}
                        <option value="female">Female</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhoneNum" class="col-sm-2 control-label">Phone number</label>
            <div class="col-sm-4">
                <input id="inputPhoneNum" type="tel" class="form-control" name="phone_num" value="{{ user.phone_num }}"
                       autocomplete="false"/>
            </div>
        </div>
        <div class="form-group">
            {% if status != '0' %}
                <div class="col-sm-offset-2 col-sm-1">
                    <button type="submit" class="btn btn-default" autofocus="autofocus">Save</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                    <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
                </div>
            {% else %}
                <div class="col-sm-offset-2 col-sm-1">
                    <a class="btn btn-default" href="{% url "dashboard" %}">Back</a>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}